In [1]:
from datetime import datetime
import pandas as pd
import pytz

In [3]:
# file_path = "C:\\Users\\carol\\OneDrive\\Documentos\\Dados Sensor Conatus\\Teste23-07.csv"
file_path = "C:\\Users\\carol\\OneDrive\\Documentos\\Dados Sensor Conatus\\Turbidimetro\\Turb_27-08.csv"

df = pd.read_csv(file_path)
df

      lei001      timestamp                 datetime
0        0.0  1724716800632  2024-08-27 00:00:00.632
1        0.0  1724716816250  2024-08-27 00:00:16.250
2        0.0  1724716831861  2024-08-27 00:00:31.861
3        0.0  1724716847483  2024-08-27 00:00:47.483
4        0.0  1724716863093  2024-08-27 00:01:03.093
...      ...            ...                      ...
5330     0.0  1724803137422  2024-08-27 23:58:57.422
5331     0.0  1724803152977  2024-08-27 23:59:12.977
5332     0.0  1724803168607  2024-08-27 23:59:28.607
5333     0.0  1724803184213  2024-08-27 23:59:44.213
5334     0.0  1724803199839  2024-08-27 23:59:59.839

[5335 rows x 3 columns]

In [4]:
# Defina o fuso horário desejado
timezone = pytz.timezone('America/Sao_Paulo')  # Exemplo de fuso horário para São Paulo

#outputfile = "C:\\Users\\carol\\OneDrive\\Documentos\\Dados Sensor Conatus\\DadosSensorConatus_23-07.csv"
outputfile = "C:\\Users\\carol\\OneDrive\\Documentos\\Dados Sensor Conatus\\Turbidimetro\\DadosTurbConatus_27-08.csv"


def convert_timestamp(timestamp_ms):
    # Converta o timestamp de milissegundos para segundos
    timestamp_s = timestamp_ms / 1000.0
    # Crie um objeto datetime a partir do timestamp em segundos
    dt_utc = datetime.utcfromtimestamp(timestamp_s)
    # Converta o datetime UTC para o fuso horário desejado
    dt_local = dt_utc.replace(tzinfo=pytz.utc).astimezone(timezone)
    return dt_local

# Aplique a função a todas as linhas da coluna 'timestamp_ms'
df['local_datetime'] = df['timestamp'].apply(convert_timestamp)

df.drop(columns='datetime', inplace=True)

df.to_csv(outputfile, index=False)

print(df)

      lei001      timestamp                   local_datetime
0        0.0  1724716800632 2024-08-26 21:00:00.632000-03:00
1        0.0  1724716816250 2024-08-26 21:00:16.250000-03:00
2        0.0  1724716831861 2024-08-26 21:00:31.861000-03:00
3        0.0  1724716847483 2024-08-26 21:00:47.483000-03:00
4        0.0  1724716863093 2024-08-26 21:01:03.093000-03:00
...      ...            ...                              ...
5330     0.0  1724803137422 2024-08-27 20:58:57.422000-03:00
5331     0.0  1724803152977 2024-08-27 20:59:12.977000-03:00
5332     0.0  1724803168607 2024-08-27 20:59:28.607000-03:00
5333     0.0  1724803184213 2024-08-27 20:59:44.213000-03:00
5334     0.0  1724803199839 2024-08-27 20:59:59.839000-03:00

[5335 rows x 3 columns]